body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active,
button:hover,
button:focus,
button:active {
  outline: none;
}

a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.6rem;
}
